@import "../../styles/variables.scss";

.button {
  background-color: $tintPrimary;
  border-radius: $borderRadius;
  padding: $spacing_s $spacing_m;
  border: 0;
  transition: all 0.2s ease-out;

  span {
    color: $lightPrimary;
    font-weight: 500;
  }

  &:hover,
  &:focus {
    background-color: $tintSecondary;
    transition: all 0.2s ease-out;
  }
}
